{% comment %} {% block title %}Contact Us Success{% endblock %} {% endcomment %}
{% load static %}
<!--DOCTYPE html-->
<html>
<head>
<title>Ask Questions</title>
<link rel='stylesheet' href='{% static "css/index.css" %}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{% static 'image/KilimoLogo.png' %}">
</head>

<body>
	<div class="navbar">
		<div class="logo">
			<img src='{% static "image/KilimoLogo.png" %}' style="width: 230px; margin-top: 10px;" />
		</div>
		<div class="search">
			<div style="margin-top: 22px; margin-left: 22.5%;">
			<form method='GET' action=''>
			<input type='text' name='q' placeholder='Search questions' value='{{request.GET.q }}' id="search1"/>

			<button type='submit' id="search2"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
			</div>
		</div>
		<div class="navlinks">
			<h6><a href="{% url "home" %}">Home</a></h6> <h6 style="width: 30%;"><a href="{% url "create" %}">Ask a Question</a></h6> <h6><a href="{% url "profile" id=profile.id %}">Profile</a></h6> <h6><a href="{% url "user" %}">Users</a></h6> <h6><a href="{% url "contactus" %}">Contact Us</a></h6>
		</div>
		<div class="login" style="font-size: 15px;">
			{% if request.user.is_authenticated %}
			<p><a href="{% url "logout" %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></p>
			{% else %}
			<p><a href="{% url "login" %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in / Register</a></p>
			{%endif %}
		</div>
	</div>

{% block css %}
<style>
  p {
    font-size: 1.15em;
  }
</style>
{% endblock %}

{% block content %}
    <h2 class="title">Thanks!</h2>

    <p>We appreciate your feedback.<br />
    Someone from the team will be in touch with you shortly.</p>
    
    <div><a href="/">Home Page</a></div>
{% endblock %}